<!-- Navbar -->
<header x-data="{ navOpen: false }" class="navbar sticky top-0 z-50">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between py-3">
            
            <!-- Mobile/Tablet view: Brand on left, icons on right -->
            <div class="lg:hidden flex w-full items-center justify-between">
                <a class="brand text-2xl" href="/">YurttaYe</a>
                <div class="flex items-center space-x-2">
                    <button x-on:click="darkMode = !darkMode; localStorage.setItem('darkMode', darkMode)" class="nav-action-icon" aria-label="Tema değiştir">
                        <i x-show="!darkMode" class="fas fa-sun text-xl"></i>
                        <i x-show="darkMode" class="fas fa-moon text-xl"></i>
                    </button>
                    <button x-on:click="navOpen = !navOpen" class="nav-action-icon" aria-label="Menüyü aç/kapat">
                        <i class="fas fa-bars text-xl"></i>
                    </button>
                </div>
            </div>

            <!-- Desktop view -->
            <div class="hidden lg:flex w-full items-center justify-between">
                <!-- Left Icons -->
                <div class="flex items-center space-x-2">
                    <a href="https://play.google.com/store/apps/details?id=com.yurttaye.yurttaye" target="_blank" class="nav-link" title="Google Play'den İndir">
                        <i class="fab fa-google-play text-xl"></i>
                    </a>
                    <a href="#" class="nav-link" title="Dil Değiştir">
                        <i class="fas fa-language text-xl"></i>
                    </a>
                </div>

                <!-- Centered Brand -->
                <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
                    <a class="brand" href="/">YurttaYe</a>
                </div>

                <!-- Right Icons -->
                <div class="flex items-center space-x-2">
                    <button x-on:click="darkMode = !darkMode; localStorage.setItem('darkMode', darkMode)" class="nav-action-icon" aria-label="Tema değiştir">
                        <i x-show="!darkMode" class="fas fa-sun text-xl"></i>
                        <i x-show="darkMode" class="fas fa-moon text-xl"></i>
                    </button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-action-icon" asp-controller="Account" asp-action="Logout" title="Çıkış">
                            <i class="fas fa-sign-out-alt text-xl"></i>
                        </a>
                    }
                    else
                    {
                        <a class="nav-action-icon" asp-controller="Account" asp-action="Login" title="Giriş">
                            <i class="fas fa-sign-in-alt text-xl"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <!-- Mobile Menu Panel-->
    <div x-show="navOpen" x-on:click.away="navOpen = false" class="lg:hidden border-t border-white/10" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 -translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 -translate-y-4">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
            <ul class="flex flex-col space-y-2">
                <li><a class="nav-link !w-full !justify-start" asp-controller="Home" asp-action="Index"><i class="fas fa-home text-xl w-8 text-center mr-3"></i>Ana Sayfa</a></li>
                <li><a class="nav-link !w-full !justify-start" href="https://play.google.com/store/apps/details?id=com.yurttaye.yurttaye" target="_blank"><i class="fab fa-google-play text-xl w-8 text-center mr-3"></i>Mobil Uygulama</a></li>
                <li><a class="nav-link !w-full !justify-start" href="#"><i class="fas fa-language text-xl w-8 text-center mr-3"></i>Dil Değiştir</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a class="nav-link !w-full !justify-start" asp-area="Admin" asp-controller="AdminMenu" asp-action="Index"><i class="fas fa-user-shield text-xl w-8 text-center mr-3"></i>Yönetim</a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a class="nav-link !w-full !justify-start" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt text-xl w-8 text-center mr-3"></i>Çıkış</a></li>
                }
                else
                {
                    <li><a class="nav-link !w-full !justify-start" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt text-xl w-8 text-center mr-3"></i>Giriş</a></li>
                }
            </ul>
        </div>
    </div>
</header> 