@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["AccessDenied"];
}
<h2>@Localizer["AccessDenied"]</h2>
<p>@Localizer["AccessDeniedMessage"]</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">@Localizer["ReturnHome"]</a>